#about_me {
  background: url('../assets/bg_about_mobile.svg') right bottom no-repeat;
}

.about-me-separator {
  height: 1px;
  background-color: white;
  width: 100%;
}

@media screen and (min-width: 768px) {
  #about_me {
    background: url('../assets/bg_about_desktop.svg') right -2rem center no-repeat;
    background-size: 30rem;
  }
}

@media screen and (min-width: 992px) {
  #about_me {
    background-size: 35rem;
  }
}
