.text-area {
  background-color: #fbf8f7 !important;
  padding: 0.75rem !important;
  color: #3c3a39 !important;

  &::placeholder {
    font-style: italic;
    color: #3c3a39 !important;
  }
}

.form-control {
  &:focus {
    padding-left: 1.25rem !important;
  }
}

@media screen and (min-width: 768px) {
  .name > *:first-child {
    padding-right: 0.75rem;
  }

  .name > *:last-child {
    padding-left: 0.75rem;
  }
}
