.title-separator {
  height: 1px;
  background-color: #212121;
  width: 100%;
}

.badge {
  border: 1px solid #8993a4;
  margin-bottom: 0.5rem;
}

.badge:not(:last-child) {
  margin-right: 0.5rem;
}

.opacity-10 {
  opacity: 0.1 !important;
}

.project:not(:last-child) {
  margin-bottom: 1.5rem;
}

.project .badge {
  background-color: rgba(255, 255, 255, 0.24);
  border: none;
  color: white;
}

.projects {
  margin-left: -0.5rem !important;
  margin-right: -0.5rem !important;
}

@media screen and (min-width: 768px) {
  .card-img {
    height: 100%;
    transition:
      opacity 0.15s ease-in-out,
      height 0.15s ease-in-out;
  }

  .card:hover > .card-img {
    opacity: 100 !important;
    height: calc(100% - 3.2rem);
  }

  .card-img-overlay {
    transition: visibility 0.05s ease-in-out;
  }

  .card:hover > .card-img-overlay {
    visibility: hidden;
  }

  .card > .btn {
    margin-bottom: -3.2rem;
  }

  .me-2-half {
    margin-right: 0.75rem !important;
  }

  .project:not(:last-child) {
    margin-bottom: 0rem;
  }

  .project:nth-child(n + 4) {
    margin-top: 1.5rem;
  }

  .projects .rounded-bottom-0 {
    border-bottom-right-radius: 0.375rem !important;
    border-bottom-left-radius: 0.375rem !important;
  }
}

@media screen and (min-width: 992px) {
  .project:nth-child(4) {
    margin-top: 0rem;
  }
}

@media screen and (max-width: 350px) {
  .d-xs-none {
    display: none;
  }

  .fs-xs-7 {
    font-size: 0.75rem;
  }
}
