.skill:not(:last-child) {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 768px) {
  .skill:not(:last-child) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 992px) {
  #skills {
    padding-inline: 5rem !important;
  }
}
